#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    display: flex;
    align-items: center;
    height: 100px;

    position: relative;
    z-index: 999;
}

#header h1 img {
    height: 56px;
}

#header .utils {
    display: flex;
    gap: 4px;
}

#header .utils button {
    /* position: relative; */
    z-index: 999;
    background: rgba(26, 25, 29, 0.8);
    padding: 16px 40px;
}

#header .utils button strong {
    color: #ddd;
    font-size: 20px;
    font-weight: 300;
    margin-right: 16px
}

#header .utils button i {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    vertical-align: -2px;
}

#header .utils .search {
    position: relative;
}

#header .utils #search {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(26, 25, 29, 1);
    width: 400px;
    z-index: 1000;
}

#header .mbtn {}

#header .mbtn .xi-close {
    display: none;
}

#header .mbtn.on .xi-bars {
    display: none;
}

#header .mbtn.on .xi-close {
    display: inline-block;
}




.gnb {
    position: fixed;
    inset: 0 0 0 0;
    background: #111;
    color: #fff;
    padding: 160px 0 0 112px;
    transform: translate(0, -100%);

    transition: 0.5s;
}

.gnb.on {
    transform: translate(0, 0);
}

.gnb>ul {
    position: relative;
}

.gnb>ul>li:hover>a {
    color: #a51c30;
}

.gnb>ul>li>a {
    display: block;
    font-family: "Hahmlet", serif;

    font-size: 48px;
    line-height: 80px;
    color: #f9f9f9;
}

.gnb>ul>li ul {
    display: none;
    position: absolute;
    top: 16px;
    left: 20%;
}

.gnb>ul>li:hover ul {
    display: block;
}

.gnb>ul>li ul li a {
    font-size: 20px;
    line-height: 56px;
}

.gnb>ul>li ul li:hover a {
    padding-bottom: 10px;
    border-bottom: 2px solid #555554;

}

.gnb>ul>li ul li a i {
    font-size: 10px;
    margin-left: 8px;
}


.main_visual .itm .title {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    max-width: 1674px;
    width: 100%;
    margin: 0 auto;
    transition: height 2s 2s;
}

/* .main_visual .itm.swiper-slide-active .title {
 
} */

.main_visual .itm .title::before {
    position: absolute;
    content: "";
    top: -400px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0.5px;
    height: 0;
    z-index: 3;
    background: #ddd;
    transition: height 1s 1s;
}


.main_visual .itm.swiper-slide-active .title::before {
    height: 300px;
}



.main_visual .itm .title::after {
    position: absolute;
    content: "";
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0.5px;
    height: 0;
    z-index: 3;
    background: #ddd;

    transition: height 2s 2s;

}

.main_visual .itm.swiper-slide-active .title::after {
    height: 200px;
}



.main_visual .itm .title h2 {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 0 0 40px 0;
}

.main_visual .itm .title p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.main_visual .itm {
    position: relative;

    height: 100vh;
}

.main_visual .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 999;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)90%, rgba(0, 0, 0, 1));
}



.main_visual .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual02222.jpg) no-repeat center/cover;
}

/* .main_visual .itm02::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 999;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.main_visual .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center/cover;
}

.main_visual .visual_content {}

.main_visual .visual_content .content_box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    height: 160px;
    max-width: calc((100% - 1674px)/2 + 1674px);
    width: 100%;
    background: rgba(0, 0, 0, 0.9);


    display: flex;
    /* justify-content: center; */
    gap: 124px;
    align-items: center;
    overflow: hidden;

    padding: 0 120px 0 100px;
    color: #fff;
    white-space: nowrap;


    /* border-left: 1px solid rgba(225, 255, 255, 0.2); */
    /* border-top: 1px solid rgba(225, 255, 255, 0.2); */
    box-shadow: -1px -1px 48px rgba(225, 255, 255, 0.2);
}

.main_visual .visual_content .itm_box {
    display: flex;
    cursor: pointer;
}

.main_visual .visual_content .itm_box img {
    color: #ddd;
    width: 80px;
    margin-right: 16px;
}

.main_visual .visual_content .itm_box p {
    padding: 12px 0;
    color: #ddd;
}

.main_contents {
    padding: 200px 0;
}

.main_contents .title {
    display: flex;
    align-items: center;
    gap: 120px;
    margin: 0 auto 56px auto;
    border-bottom: 3px solid #575757;
    padding-bottom: 16px;
}

.main_contents .inner {
    display: flex;
    gap: 30px;
}

.main_contents .inner>* {
    flex: 1;
}

.main_contents .inner .txt {
    background: #f9f9f9;
    padding: 48px;
}

.main_contents .inner .txt strong {
    display: block;
    font-size: 24px;
    font-weight: 800;
    height: 64px;
    line-height: 32px;
    color: #4a484c;
    margin-bottom: 16px;
}

.main_contents .inner .txt p {
    color: #817e7e;
    font-weight: 600;
    margin-bottom: 40px;
    min-height: 100px;
}

.main_contents .inner .txt em {
    color: #615f5f;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 15px;
    margin-right: 30px;
}

.main_contents .inner .txt i {
    font-size: 24px;
    background: #817e7e;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
    vertical-align: -6px;
}

.main_banner {
    position: relative;
    padding: 200px 0;
    background: url(../images/main_banner01.jpg) no-repeat center/cover;
}


.main_banner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    background: linear-gradient(to right, rgba(0, 0, 0, 1)1%, rgba(0, 0, 0, 0)45%, rgba(0, 0, 0, 1)50%);
}

.main_banner .title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(0, -50%);
}

.main_banner .title h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 16px;
    line-height: 48px;

}

.main_banner .title p {
    color: #fff;
    margin-bottom: 40px;

}

.main_banner .title .btn a {
    display: inline-block;
    color: #fff;
    background: #a51c30;
    padding: 16px 32px;
}


.main_banner .title .btn i {
    vertical-align: -2px;
    margin-left: 8px;
    font-size: 14px;
}

.main_professor {
    padding: 200px 0;
}

.main_professor .title {
    display: flex;
    align-items: center;
    gap: 120px;
    margin: 0 auto 56px auto;
    border-bottom: 3px solid #575757;
    padding-bottom: 16px;
}

.main_professor .inner {
    display: flex;
}

.main_professor .inner>* {
    flex: 1;
}

.main_professor .right {
    display: flex;
    align-items: center;
}

.main_professor .right strong {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: #b9b7b7;
}

.main_professor .right .first {
    position: relative;

}

.main_professor .right .first::after {
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    color: #444;
    /* border-right: 1px solid #444; */

    animation: txt 4s steps(20);
}

@keyframes txt {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

    /* 100% {
        width: 0;
    } */
}


.main_professor .right p {
    margin: 16px 0 24px 0;
    color: #615f5f;
}

.main_professor .right em {
    display: block;
    font-size: 14px;
    font-weight: 800;
    color: #4a484c;
    margin-bottom: 40px;
}

.main_professor .right .btn_box {
    display: flex;
    align-items: center;
}

.main_professor .right .btn_box p {
    font-weight: 800;
    margin-right: 40px;
}

.main_professor .right .btn_box a {
    display: inline-block;
    color: #fff;
    background: #a51c30;
    padding: 12px 28px;
}

.main_professor .right .btn_box i {
    vertical-align: -2px;
    margin-left: 8px;
    font-size: 14px;
}